<div id="contact" class="col-md-4 col-md-offset-4">
    <form>
    <div class="form-group">
        <label for="contact-email">Your Email</label>
        <input type="email" class="form-control" id="contact-email">
    </div>
    <div class="form-group">
        <label for="contact-subject">Subject</label>
        <input type="text" class="form-control" id="contact-subject">
    </div>
    <div class="form-group">
        <label for="content">Message</label>
        <br />
        <textarea id="content"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Send</button>
    </form>
</div>
