<div class="container-fluid home-container light-text-color">
    <section id="welcome-section" class="primary-background-color">
        <h1>Multi-Alliance chat made easy!</h1>
        <a href="http://placehold.it"><img class="col-sm-12" style="margin:10px" src="http://placehold.it/900x300"></a>
        <br />
        <h2>No need for external chat services, just the old chat we all know and love.</h2>
        <div class="form-group" style="margin:50px 0px">
            <label class="col-sm-4 control-label" for="singlebutton"></label>
            <div class="col-sm-4 center-block">
                <button type="button" class="btn btn-lg dark-background-color  call-btn"><a href="#!register" class="light-text-color">Try it now, it's free!</a></button> 
            </div>          
        </div>
        
        
    </section>
    
    <section id="management-section">
        <h2 class="dark-text-color">Simple, and powerful management of your chat</h2>
        <a href="http://placehold.it"><img class="col-sm-12" src="http://placehold.it/1200x300"></a>
        <h2 class="dark-text-color">Custom chat colors and names with alliance abreviation are just some of the great features of XChat.</h2>
        <a href="http://placehold.it"><img class="col-sm-12" src="http://placehold.it/1200x300"></a>
    </section>
</div>