<div ng-controller="membersController">
    <h2>Chat 0018 : Legion</h2>
    <table class="table">
        <thead class="thead-inverse">
            <th>Name</th>
            <th>Last Login</th>
            <th>Amount of messages</th>
            <th>Color</th>
        </thead>
        
        <tbody class="table-striped table-hover">
            <tr>
                <td>Jackson</td>
                <td>March 8th, 2017</td>
                <td>243</td>
                <td>Orange</td>
            </tr>
        </tbody>
    </table>
</div>