
<div class="col-sm-10 col-sm-offset-1">
    <div class="col-sm-4 pricing p1">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Free Plan</h3></div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        200 Users
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Chat Commands
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-times list-icon-red" aria-hidden="true"></i>
                        Player Name Color
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-times list-icon-red" aria-hidden="true"></i>
                        Player Text Color
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-times list-icon-red" aria-hidden="true"></i>
                        Alliance Abreviation
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-times list-icon-red" aria-hidden="true"></i>
                        Rank After Name
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-times list-icon-red" aria-hidden="true"></i>
                        Icon For Rank
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Keep chat for 1 hour
                    </li>
                </ul>
            </div>
            <div class="panel-heading"><h4>FREE</h4></div>
        </div>
    </div>

    <div class="col-sm-4 pricing p2">
        <div class="panel panel-success">
            <div class="panel-heading"><h3>300 Plan</h3></div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        300 Users
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Chat Commands
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Player Name Color
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Player Text Color
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Alliance Abreviation
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Rank After Name
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-times list-icon-red" aria-hidden="true"></i>
                        Icon For Rank
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Keep chat for 12 hours
                    </li>
                </ul>
            </div>
            <div class="panel-heading"><h4>$2 Monthly</h4></div>
        </div>
    </div>

    <div class="col-sm-4 pricing p3">
        <div class="panel panel-danger">
            <div class="panel-heading"><h3>500 Plan</h3></div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        500 Users
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Chat Commands
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Player Name Color
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Player Text Color
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Alliance Abreviation
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Rank After Name
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Icon For Rank
                    </li>
                    <li class="list-group-item justify-content-between">
                        <i class="fa fa-check list-icon-blue" aria-hidden="true"></i>
                        Keep chat for 24 hours
                    </li>
                </ul>
            </div>
            <div class="panel-heading"><h4>$4 Monthly</h4></div>
        </div>
    </div>
</div>
